<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WeatherSoap" />
        <binding name="TwoNumberAddSoap" />
        <binding name="ThreeNumberAddSoap" />
        <binding name="TwoNumberSubSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:46398/Weather.asmx" binding="basicHttpBinding"
        bindingConfiguration="WeatherSoap" contract="WeatherReference.WeatherSoap"
        name="WeatherSoap" />
      <endpoint address="http://localhost:46398/TwoNumberAdd.asmx"
        binding="basicHttpBinding" bindingConfiguration="TwoNumberAddSoap"
        contract="Add2NumbersReference.TwoNumberAddSoap" name="TwoNumberAddSoap" />
      <endpoint address="http://localhost:46398/ThreeNumberAdd.asmx"
        binding="basicHttpBinding" bindingConfiguration="ThreeNumberAddSoap"
        contract="Add3NumbersReference.ThreeNumberAddSoap" name="ThreeNumberAddSoap" />
      <endpoint address="http://localhost:46398/TwoNumberSub.asmx"
        binding="basicHttpBinding" bindingConfiguration="TwoNumberSubSoap"
        contract="Subtract2NumbersReference.TwoNumberSubSoap" name="TwoNumberSubSoap" />
    </client>
  </system.serviceModel>
</configuration>